
* {
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Times New Roman', Times, serif; */
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------common in section----------------------------------------- */
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

/* .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
} */


/* --------------------header section---------------------------------------- */

.carouselImage{
    min-height: 80vh;
    width: 100%;
    background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/M4.jpg);
    background-position: center;
    /* background-size: cover; */
    /* position: relative; */
}



/* header: text-box */
.text-box {
    font-family: 'Poppins', sans-serif;
    width: 90%;
    color: #fff;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
    /* border: 2px solid red; */
    line-height: 1;
}

.text-box a{
    margin-top: 200px;
}

.text-box h1 {
    margin-bottom: 40px;
    font-size: 4em;
    font-weight: bold;
}

#iit {
    margin: 10px 0 40px;
    font-size: 1.5em;
    color: #fff;
}
#text{
    margin: 10px 0 40px;
    font-size: 1.5em;
    color: #fff;
}

.btn{
    display: inline-block;
    background-color:#88b1ee;
    color: white;
    padding: 8px 30px;
    border-radius: 30px;
    margin: 30px 0;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}
a {
    text-decoration: none;
    color: #555;
}




@media (max-width: 700px) and (min-width: 700px){
    .text-box h1{
        font-size: 3em;
    }
  
    .text-box a{
        margin-top: 180px;
    }
}


@media (max-width: 700px) {
    .text-box h1{
        font-size: 2.5em;
    }
    #iit{
        font-size: 1em;
    }
    #text{
        font-size: 1.2em;
    }

    .text-box a{
        margin-top: 120px;
    }

    .text-box{
        top: 43%;
    }
}






















/* -------------------- */

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0 ;
    color: white;
}


/* ---------------footer section-------------------------------- */

.footer{
    width: 100%;
    bottom: 0;
    background: linear-gradient(to right, #00093c, #2d0b00) ;
    color: #fff;
    padding: 0px 5px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
    font-family: 'Poppins', sans-serif !important;
}


.footer .row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.footer .col-1{
    flex-basis:  40%;
    padding: 10px;
}

.footer .col-2{
    flex-basis:  60%;
    padding: 10px;
}


.logo2{
    width: 250px;
    margin-bottom: 30px;
}

.col-1 h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

.footer ul li{
    list-style: none;
    margin-bottom: 12px;
}

.footer ul li a{
    text-decoration: none;
    color: #fff;
}

.footer form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

.footer form  .far{
    font-size: 18px;
    margin-right: 10px;
}
.footer form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

.footer form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

.footer form button .fas{
    font-size: 16px;
    color: #ccc;
}





.social-icons .fab{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 0px auto;
}

.copyright{
    text-align: center;
}

/* .underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
} */
/* 
.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position:absolute;
    top: 0;
    left: 10px;
 
}    */

@media (max-width: 700px) {
    .footer{
        bottom: unset;
    }
    .footer .col-4{
        flex-basis:  100%
    }
    
    .footer .col-4:nth-child(2), .footer .col-4:nth-child(3){
        flex-basis: 100%;
    }
}

/* ------------Form Page---------------- */


.sub-header {
    height: 30vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    font-size: 18px;
}

.sub-header h1 {
    margin-top: 70px;
    font-size: 2em;
}





.hero{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}



.register-heading{
    flex-basis: 100%;
    text-align: center;
}


.hero form{
    width: 90%;
    max-width: 600px;
}
.hero .input-group{
    margin-bottom: 30px;
    position: relative;
}
.hero input, .hero select{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid black;
    color: black;
    background: transparent;
    font-size: 15px;
}

.hero label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: black;
    cursor: text;
    transition: 0.2s;
}

.hero-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-btn button{
    width: 270px;
    height: 80px;
    border: 0;
    outline: none;
    background: #2f2f2f;
    color: #fff;
    font-size: 22px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.hero-btn .check-box{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    box-shadow: 0 0 12px -2px rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: -40px;
    opacity: 0;
}
.hero-btn .check-box svg{
    width: 40px;
    margin: 20px;
}

.hero-btn svg path{
    stroke-width: 3;
    stroke: #fff;
    stroke-dasharray: 34;
    stroke-dashoffset: 34;
    stroke-linecap: round;
}

.active{
    background: #00093c !important; 
    transition: 0.5s;
}

.active .check-box{
    right: 0;
    opacity: 1;
    transition: 0.5s;
}

.active p{
    margin-right: 125px;
    transition: 0.5s;
}

.active svg path{
    stroke-dashoffset: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
}


.hero input:focus~label,
.hero input:valid~label,
.hero textarea:focus~label,
.hero textarea:valid~label{
    top: -35px;
    font-size: 14px;
}

.row-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row-form .input-group{
    flex-basis: 48%;
}




/* -----------------participants page------------- */

.table{
    margin: 0px auto;
    height: 50vh;
    overflow-y: auto;
    width: 100%;
    overflow-x: auto;
}

table :first-child th{
    position: sticky; top: 0; z-index: 9998;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    background-color: #00093c;
    color: #fff;
}

table tr :first-child{
    text-align: center;
}


table {
    margin: auto;
    border-collapse: collapse;
    min-width: 800px;
    height: 200px;
    border: 1px solid #bdc3c7;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

tr {
    transition: all .2s ease-in;
    cursor: pointer;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#header {
    background-color: #00093c;
    color: #fff;
}


tr:hover {
    background-color: #f5f5f5;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

.table-content{
    padding-top: 26px;
    padding-bottom: 100px;
}


.table::-webkit-scrollbar {
    display: none;
  }










/* -------------NOC---------- */

.name{
    font-size: 1.6em;
    font-weight: bold;
    color: black;
    padding-bottom: .5em;
    /* width: max-content; */
}

.sch-name{
    font-size: 1.6em;
    font-weight: bold;
    color: black;
    padding-bottom: .5em;
    width: max-content;
}

.data{
    padding: 1em;
}

/* Sch */

.lect{
    margin-bottom: 1em;
    margin-top: 1em;
    margin-right: 1.2em;
}
.sch-row{
    display: flex;
    flex-wrap: wrap;
}

.sch-col-1{
    flex-basis: 50%;
   

}
.sch-col-2{
    flex-basis: 50%;
    align-items: flex-end;
    flex: 1;
    text-align: right;
    
}

.time{
    background-color: #1a76bb;
    display: inline-block;
    border-radius: 14px;
    padding: 0px 7px;
    font-size: 0.6em;
    color: white;
    font-weight: bold;
    width: max-content;
}


.fa-envelope-open-text{
    display: none;
}
@media screen and (min-width:700px){
    .fa-envelope-open-text{
        display: block;
        color: #1a76bb;
    }
}