.footerContainer {
    display: grid;
    grid-template: 1fr / 1fr 2fr 1fr;
}

.footerContactInfo {
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 40px 10px 40px;
}

.footerContactInfoLogo {
    width: 100%;
    margin:10px;
}

.footerContactInfoDetails {
    width: 100%;
}

.footerContactInfoDetailElement {
    margin: 10px 0 10px 0;
    display: flex;
    align-items: center;
}

.footerContactInfoDetailElementImage {
    margin: 0 10px 0 10px;
}

.footerLinks {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    padding: 10px 20px 10px 20px;
}

.footerLinksLeft {
    grid-area: 1 / 1 / 2 / 2;
    padding: 0 20px 0 20px;
}

.footerLinksRight {
    grid-area: 1 / 2 / 2 / 3;
    padding: 0 20px 0 20px;
}

.footerLinksHeader {
    font-family: var(--font-family-segoe);
    font-size: 16px;
    line-height: 24px;
    margin: 10px 0 10px 0;
    color: #000000;
}

.footerLink {
    text-decoration: none !important;
    color: #232323 !important;
    font-family: var(--font-family-segoe) !important;
    font-size: 14px;
    line-height: 24px;
    display: block;
    margin: 10px 0 10px 0;
}

.footerCredits {
    grid-area: 1 / 3 / 2 / 4;
    padding: 10px 40px 10px 40px;
}

.footerText {
    text-decoration: none !important;
    color: #000000 !important;
    font-family: var(--font-family-segoe) !important;
    font-size: 14px;
    line-height: 24px;
}

.lowerFooterContainer {
    background-color:#E7E7E7;
}

.lowerFooterLink {
    text-decoration: none !important;
    color: #232323 !important;
    font-family: var(--font-family-segoe) !important;
    font-size: 14px;
    line-height: 24px;
    margin: 0 10px 0 10px;
}

.copyrightContainer {
    background-color: #232323;
}

.copyrightText {
    font-family: car(--font-family-segoe);
    font-size: 12px;
    line-height: 24px;
    color: #EEEEEE;
    margin: 0 10px 0 10px;
}

.copyrightFlex {
    display: flex;
    justify-content: space-between;
}

.footerFavicons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.footerFavicons > a {
    margin: 0 2.5px 0 2.5px;
}

.footerFavicons > a > img {
    height: 24px;
}

@media only screen and (max-width: 900px) {

    .footerContainer {
        display: block;
    }

}
