.iitrInMediaCardContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.iitrInMediaCard {
    min-width: 300px;
    margin: 10px;
    height: 600px;
}

.iitrInMediaButton {
    border: 1px solid #0067B3 !important;
}

.iitrInMediaButton:hover {
    background-color: #0067B3 !important;
    color: #ffffff;
}

.iitrInMediaContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
}

.iitrInMediaContentDescription {
    height:120px;
    text-overflow: ellipsis !important;
    overflow: hidden;
}

.iitrInMediaCardImage {
    width: 362px !important;
    height: 242px !important;
}
