.lifeAtIITRCardContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.lifeAtIITRCard {
    min-width: 300px;
    margin: 10px;
    height: 600px;
}

.lifeAtIITRButton {
    border: 1px solid #0067B3 !important;
}

.lifeAtIITRButton:hover {
    background-color: #0067B3 !important;
    color: #ffffff;
}

.lifeAtIITRContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}