.main-page-noticeboard {
  width: 100%;
  background-color: rgba(229, 238, 244, 0.49);
  padding: 5px;
  border-radius: 8px;
  margin-top: 50px;
}

.main-page-noticeboard > .row {
  padding: 5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.main-page-noticeboard > .row > .head {
  display: flex;
  margin: 5px 0;
  font-size: 14px;
  line-height: 18.5px;
  color: rgba(0, 0, 0, 0.6);
  justify-content: space-between;
}

.main-page-noticeboard > .seperator {
  border: 1px solid rgba(26, 118, 187, 0.6);
  background-color: rgba(26, 118, 187, 0.6);
  height: .5px;
}

.main-page-upcoming-events {
  width: 100%;
  padding: 5px;
}

.main-page-upcoming-events > .row {
  margin: 5px 0px;
  display: flex;
  text-decoration: none !important;
  color: #232323 !important;
}

.main-page-upcoming-events > .row > .date {
  width: 72px;
  height: 72px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(134, 134, 134, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.main-page-upcoming-events > .row > .date > .day {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #000000;
}

.main-page-upcoming-events > .row > .data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-page-upcoming-events > .row > .data > .title {
  font-size: 17px;
  line-height: 23px;
  color: rgba(0, 0, 0, 0.87);
  /* font-weight: bold; */
  margin-bottom: 5px;
}

.main-page-upcoming-events > .row > .data > .description {
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}

.main-page-upcoming-events > .seperator {
  border: 1px solid rgba(26, 118, 187, 0.6);
  background-color: rgba(26, 118, 187, 0.6);
  height: .5px;
}

.noticeboard-upcoming-events-container {
  width: 100%;
  display: grid;
  grid-template: 1fr / 1fr 1fr;
}

.noticeboard-container {
  grid-area: 1 / 1 / 2 / 2;
  padding: 25px;
}

.upcoming-events-container {
  grid-area: 1 / 2 / 2 / 3;
  padding: 25px;
}

@media only screen and (max-width: 900px) {
  .noticeboard-upcoming-events-container {
    display: block;
  }
}

.main-page-noticeboard > .row > a:hover{
  text-decoration: underline;
}
.main-page-noticeboard > .row > a{
  text-decoration: none;
}