.publicityContainer {
    width: 100%;
    display: grid;
    grid-template: 1fr / 2fr 1fr;
    margin: 20px 0 20px 0;
}

.publicityOuterContainer {
    background-color: #F2F7FA;
}

.publicityVirtualTour {
    grid-area: 1 / 1 / 2 / 2;
}

.publicityIITROnTwitter {
    grid-area: 1 / 2 / 2 / 3;
}

.publicityTwitter {
    height: 400px !important;
    overflow-y: scroll;
}

@media only screen and (max-width: 1200px) {
    .publicityContainer {
        display: none;
    }
}
