.main-page-recent-achivement-card {
  height: 350px;
  width: 1000px;
  padding: 10px;
  display: flex;
}

.main-page-recent-achivement-card > .image-blk {
  height: 333px;
  width: 475px;
  /* background-color: aqua; */
  display: flex;
}

.main-page-recent-achivement-card > .image-blk > img {
  object-fit: contain;
  max-width: 500px;
}

.main-page-recent-achivement-card > .data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  margin-left: 60px;
}

.main-page-recent-achivement-card > .data > .title {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.87);
}

.main-page-recent-achivement-card > .data > .content {
  font-size: 14px;
  line-height: 24px;

  color: rgba(0, 0, 0, 0.6);
}

.main-page-recent-achivement-card-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 900px) {
  .main-page-recent-achivement-card {
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
  }

  .main-page-recent-achivement-card > .image-blk {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
  }

  .main-page-recent-achivement-card > .data {
    margin: 0;
    padding: 10px;
  }

  .main-page-recent-achivement-card > .image-blk > img {
    object-fit: fill;
    width: 100%;
  }
}

.slideshow-container{
  max-width:1500px;
  position: relative;
  margin: auto;
}


/* Next & previous buttons */
.prev-arrow, .next-arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgba(0, 0, 0, 0.38)  ;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next-arrow {
  right: -10px;
  border-radius: 3px 0 0 3px;
}

.prev-arrow {
  left: -10px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev-arrow:hover, .next-arrow:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
/* .fade { 
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}


@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
} */