.main-page-research-areas {
  width: 100%;
  padding: 5px;
}

.main-page-research-areas > .row {
  padding: 15px;
}

.main-page-research-areas > .row > .title {
  font-weight: bold;
  font-size: 20px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 10px;
}

.main-page-research-areas > .row > .department {
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  color: #666666;
}

.main-page-research-areas > .seperator {
  border: 1px solid rgba(26, 118, 187, 0.6);
  background-color: rgba(26, 118, 187, 0.6);
  height: .5px;
}

.main-page-research-container {
  display: grid;
  grid-template: 1fr / 2fr 1fr;
}

.main-page-recent-research-container {
  grid-area: 1 / 1 / 2 / 2;
}

.main-page-research-areas-container {
  grid-area: 1 / 2 / 2 / 3;
}

.main-page-recent-research-card-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.main-page-recent-research-card {
  min-width: 300px;
  margin: 10px;
}

.main-page-recent-research-button {
  border: 1px solid #0067B3 !important;
}

.main-page-recent-research-button:hover {
  background-color: #0067B3 !important;
  color: #ffffff;
}

.main-page-recent-research-image {
  width: 362px !important;
  height: 242px !important
}

.main-page-recent-research-description {
  height:120px;
  text-overflow: ellipsis !important;
  overflow: hidden;
}

.main-page-recent-research-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

@media only screen and (max-width: 900px) {
  .main-page-research-container {
    display: block;
  }
}