.spotlightContainer {
    padding: 30px 0 30px 0;
}

.ui.tab-data {
display: none;
}

.ui.tab-data.active {
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
}

.ui.tab-data > .tab-blocks {
width: 200px;
margin: 15px;
text-align: left;
font-size: 20px;
font-weight: bold;
text-decoration: none !important;
color: #ffffff !important;
flex-flow:column wrap;
justify-content: center;
align-items: center;
}

.ui.tab-data > .tab-blocks > img {
max-width: 200px;
max-height: 160px;
}

.ui.tab-data > .tab-blocks > p {
    width: 200px;
    height: 160px;
    background-size: cover;
    padding: 30px;
}

.ui.ui.tab-data > .tab-blocks > p:hover {
    opacity: 0.3;
}

    
.spotlight-container {
background: rgba(240, 241, 246, 1);

}