
* {
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Times New Roman', Times, serif; */
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------common in section----------------------------------------- */
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}


/* --------------------header section---------------------------------------- */
.header {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/background-2.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.header .row{
    margin-top: 70px;
}

/* header navbar */
.logo{
    filter: grayscale(1) invert(1);
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

.navbar a{
    text-decoration: none;
    color: white;
}
.navbar p{
    color: white;
}

.navbar ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.3s;
}
.navbar ul li:hover::after {
    width: 100%;
}


/* header: text-box */
.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}





/* -------------------- */

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0 ;
    color: white;
}


/* ---------------footer section-------------------------------- */

.footer{
    width: 100%;
    bottom: 0;
    background: linear-gradient(to right, #00093c, #2d0b00) ;
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}


.footer .row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.footer .col-4{
    flex-basis:  25%;
    padding: 10px;
}

.footer .col-4:nth-child(2),.footer .col-4:nth-child(3){
    flex-basis: 15%;
}

.logo{
    width: 100px;
    margin-bottom: 30px;
}

.col-4 h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

ul li{
    list-style: none;
    margin-bottom: 12px;
}

ul li a{
    text-decoration: none;
    color: #fff;
}

.footer form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

.footer form  .far{
    font-size: 18px;
    margin-right: 10px;
}
.footer form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

.footer form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}

.footer form button .fas{
    font-size: 16px;
    color: #ccc;
}





.social-icons .fab{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright{
    text-align: center;
}

.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position:absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}


@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}

@media (max-width: 700px) {
    .footer{
        bottom: unset;
    }
    .footer .col-4{
        flex-basis:  100%
    }
    
    .footer .col-4:nth-child(2), .footer .col-4:nth-child(3){
        flex-basis: 100%;
    }
}

/* ------------Form Page---------------- */


.sub-header {
    height: 30vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    font-size: 18px;
}

.sub-header h1 {
    margin-top: 70px;
    font-size: 2em;
}



.hero{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero form{
    width: 90%;
    max-width: 600px;
}
.hero .input-group{
    margin-bottom: 30px;
    position: relative;
}
.hero input, .hero textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid black;
    color: black;
    background: transparent;
    font-size: 15px;
}

.hero label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: black;
    cursor: text;
    transition: 0.2s;
}

.hero-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-btn button{
    width: 270px;
    height: 80px;
    border: 0;
    outline: none;
    background: #2f2f2f;
    color: #fff;
    font-size: 22px;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.hero-btn .check-box{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    box-shadow: 0 0 12px -2px rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: -40px;
    opacity: 0;
}
.hero-btn .check-box svg{
    width: 40px;
    margin: 20px;
}

.hero-btn svg path{
    stroke-width: 3;
    stroke: #fff;
    stroke-dasharray: 34;
    stroke-dashoffset: 34;
    stroke-linecap: round;
}

.active{
    background: #00093c !important; 
    transition: 0.5s;
}

.active .check-box{
    right: 0;
    opacity: 1;
    transition: 0.5s;
}

.active p{
    margin-right: 125px;
    transition: 0.5s;
}

.active svg path{
    stroke-dashoffset: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
}


.hero input:focus~label,
.hero input:valid~label,
.hero textarea:focus~label,
.hero textarea:valid~label{
    top: -35px;
    font-size: 14px;
}

.row-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row-form .input-group{
    flex-basis: 48%;
}




/* -----------------participants page------------- */

.table{
   margin-top: 100px;
   margin-bottom: 100px;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 800px;
    height: 200px;
    border: 1px solid #bdc3c7;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

tr {
    transition: all .2s ease-in;
    cursor: pointer;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#header {
    background-color: #00093c;
    color: #fff;
}


tr:hover {
    background-color: #f5f5f5;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 768px) {
    table {
        width: 90%;
    }
}

















/* ---------dummy--------- */
.description{
    width: 80%;
    margin: 50px auto;
}

.description p{
    font-size: 18px;
    line-height: 28px;
    color: #333;
    justify-content: center;
}