.sectionHeading {
    font-family: var(--font-family-lato);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 28px;
    line-height: 33.6px;
    color: #4c4c4c;
    margin: 20px 0 20px 0;
}

.sectionHeadingInverted {
    color: #ffffff;
}

.sectionHeadingViewAll {
    float: right;
    font-size: 20px;
    line-height: 24px;
    color: #1A76BB !important;
    text-decoration: none !important;
}

@media only screen and (max-width: 900px) {
    .sectionHeading {
        font-size: 18px;
        line-height: 21.6px;
    }
}
