.wcauContainer {
    display: grid;
    grid-template: 2fr / 1fr 1fr 1fr;
}

.wcauImageContainer {
    grid-area: 1 / 1 / 3 / 2;
}

.wcauImage {
    max-width: 100%;
    max-height: 100%;
}

.wcau11 {
    grid-area: 1 / 2 / 2 / 3;
    padding: 30px;
}

.wcau12 {
    grid-area: 1 / 3 / 2 / 4;
    padding: 30px;
}

.wcau21 {
    grid-area: 2 / 2 / 3 / 3;
    padding: 30px;
}

.wcau22 {
    grid-area: 2 / 3 / 3 / 4;
    padding: 30px;
}

.wcauCard {
    display: grid;
    grid-template: 1fr / 35px 1fr;
    width: 100%;
}

.wcauCardImageContainer {
    grid-area: 1 / 1 / 2 / 2;
}

.wcauCardImage {
    max-width: 90%;
    max-height: 25px;
    margin-top: 5px;
}

.wcauCardContentContainer {
    grid-area: 1 / 2 / 2 / 3;
}

.wcauCardHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 32px;
}

.wcauCardHeaderContent {
    font-family: var(--font-family-segoe);
    color: #232323;
    font-size: 24px;
    line-height: 31.92;
}

.wcauCardDescription {
    font-family: var(--font-family-segoe);
    color: #00000099;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
}

@media only screen and (max-width: 1200px) {
    .wcauContainer {
        display: block;
    }

    .wcauCardHeaderContent {
        font-size: 20px;
        line-height: 27px;
    }

    .wcauCardDescription {
        font-size: 14px;
        line-height: 22px;
    }
}
